{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx"
  ]
}
